<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Order System</title>
<link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="../static/css/style.css" rel="stylesheet" type="text/css" media="all"/>
<link rel="stylesheet" type="text/css" href="../static/css/style2.css" />
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--fonts start-->
<link href='//fonts.googleapis.com/css?family=Ruluko' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Work+Sans:400,600,500,700,800,900,200,300' rel='stylesheet' type='text/css'>
<!--//fonts-->
<script type="text/javascript" src="../static/js/jquery.js"></script>

	
</head>
<body>
<!--horizan start here-->
<div class="top-navg ">
	<div class="container">
		<div class=" logo wow tada" data-wow-delay="0.3s">
			<a href="waiter_index.html"><img src="../static/images/logo.png" alt=""></a>
		</div>
		<div class="navigation">	
			<span class="menu-ic"><img src="../static/images/menu2.png" alt=""></span>
			<div class="menu menu-li">
					<ul class="menu-list">
						<li class="menu-item"><a href="waiter_index.html" th:href="@{~/waiter/index}" class="menu-link">Home</a></li>
						<li class="menu-item"><a href="waiter_info.html" th:href="@{~/waiter/info}" class="menu-link">Info</a></li>
						<li class="menu-item"><a href="waiter_order.html" th:href="@{~/waiter/showOrder}" class="menu-link">Order</a></li>
						<li class="menu-item"><a href="waiter_notice.html" th:href="@{~/waiter/notice}" class="menu-link">Notice</a></li>
						<li class="menu-item"><a href="waiter_menu.html" th:href="@{~/waiter/showMenu}" class="menu-link">Show</a></li>
						<li class="menu-item menu-item-current"><a href="waiter_pass.html" th:href="@{~/waiter/getDish}" class="menu-link">Get Dish</a></li>
				</ul>
			</div>

			 <script>
				   $( "span.menu-ic" ).click(function() {
					 $( ".navigation ul" ).slideToggle( 300, function() {
					 // Animation complete.
					  });
					 });
				</script>
	</div>
		<ul class=" head-icons wow bounceInRight" data-wow-delay="0.3s">
			<li type="button" class="btn btn-1 btn-warning"><a href="login.html" th:href="@{~/logout}"> 注销</a></li>
			<!--				 		<li><a href="#"><span class="tw"> </span></a></li>-->
		</ul>
	<div class="clearfix"></div>
</div>
</div>

<!--short codes start here-->
<div class="main-grid-one5" id="six">
	<div class="contact">
	    <div class="temp-heading">
		    <h3 class="main-head">可传菜列表</h3>
		</div>
		<div class="contact-1">
		   <div class="container">
		   	 <div class="contact-1-main">
		   	 	 <div class="contact-right wow bounceInUp" data-wow-delay="0.3s">
					 <table class="table">
						 <thead>
						 <tr>
							 <th scope="col">菜名</th>
							 <th scope="col">桌号</th>
							 <th scope="col">订单编号</th>
							 <th scope="col">状态 </th>
						 </tr>
						 </thead>
						 <tbody>
						 <tr th:each="item: ${orderDetailList}">
							 <td th:text="${item.getDish().getName()}">Otto</td>
							 <td scope="row" th:text="${item.getOrder().getTableNumber()}">1</td>
							 <td th:text="${item.getOrderid()}">Mark</td>
							 <td><button class="btn btn-success" th:data-Id="${item.getId()}" onclick="pass(this.getAttribute('data-Id'))">传菜</button></td>
						 </tr>
						 </tbody>
					 </table>
<!--		   	 	 	<h3>Send a Message</h3>-->
<!--		   	 	 	<form>-->
<!--					  	 <p>Name</p>-->
<!--					  	 <input type="text" placeholder="" required=""/>-->
<!--					  	 <p>Email</p>-->
<!--					  	 <input type="text"  placeholder="" required=""/>-->
<!--					  	 <p>Telephone</p>-->
<!--					  	 <input type="text"  placeholder="" required=""/>-->
<!--					  	 <p>Website</p>-->
<!--					  	 <input type="text" placeholder="" required=""/>-->
<!--					  	  <p>Message</p>-->
<!--					  	 <textarea   placeholder="" required=""> </textarea>-->
<!--					  	 <input type="submit" value="Send">-->
<!--					</form>-->
		   	    </div>
		   	    <div class="contact-left wow bounceInLeft" data-wow-delay="0.3s">
		   	 	 	<h3>Contact Info</h3>
		   	 	 	<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo</p>
			   	 	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore 
					eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia .</p>
					<p class="sed-sit">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo
			   	 	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore 
					eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia .
					<span class="sed-sit-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore 
					eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia .</span></p>
			   	 	<div class="con-phone">
						<span class="con-ph"> </span>
						<div class="con-para">
							<h6>Phone</h6>
							<p>+715 69 87 18</p>
						</div>
						<div class="clearfix"> </div>
					</div>
                    <div class="con-address">
						<span class="con-location"> </span>
						<div class="con-para">
							<h6>Address</h6>
							<p>Latin literature from 45 BC</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					 <div class="con-mail">
						<span class="con-email"> </span>
						<div class="con-para">
							<h6>Email</h6>
							<p><a href="mailto:example@email.com">mail@example.com</a></p>
						</div>
						<div class="clearfix"> </div>
					</div>

		   	 	 </div>
		   	 <div class="clearfix"> </div>
		   </div>	
<!--		   <div class="map wow bounceInRight" data-wow-delay="0.3s">-->
<!--		   	  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d155.214589809323!2d-0.08821983992243242!3d51.50526364780645!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48760350baa0a1bb%3A0xd5ad768cf235c18a!2sLondon+Bridge+Hotel!5e0!3m2!1sen!2sin!4v1456894643081"> </iframe>-->
<!--		   </div>-->
		</div>
     </div>
</div>
  </div>
<!--footer end here-->
<!--    <div class="footer">-->
<!--		<div class="container">-->
<!--			<div class="footer-main">-->
<!--			<div class="col-md-4 amet-sed wow bounceInDown" data-wow-delay="0.3s">-->
<!--				<h4>Information</h4>-->
<!--				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet .</p>-->
<!--				<ul class="social">-->
<!--					<li><span> </span>sector 21 , main road </li>-->
<!--					<li class="phone"><span> </span> +71999-56985</li>-->
<!--					<li class="mail"><a href="mailto:contact@Example.com"><span> </span> contact@Example.com</a></li>-->
<!--				</ul>-->
<!--				</div>-->
<!--				 -->
<!--				 <div class="col-md-5 ftr-grid wow bounceInUp" data-wow-delay="0.3s">-->
<!--				 	<h4>Newsletter</h4>-->
<!--				 	<form>-->
<!--				 		<input type="text"  placeholder="Email Address" required="">-->
<!--				 		<input type="submit" value="subscribe">-->
<!--			 	</form>-->
<!--				 </div>-->
<!--				 <div class="col-md-3 ftr-grid wow bounceInLeft" data-wow-delay="0.3s">-->
<!--				 	<ul class="ftr-nav">-->
<!--				 		<li><a href="index.html">Home</a></li>-->
<!--						<li><a href="waiter_info.html">About</a></li>-->
<!--						<li><a href="waiter_order.html">Services</a></li>-->
<!--						<li><a href="waiter_notice.html">Short codes</a></li>-->
<!--						<li><a href="menu.html">Menu</a></li>-->
<!--						<li><a href="waiter_pass.html">Contact</a></li>-->
<!--				 	</ul>-->
<!--				 </div>-->
<!--			 <div class="clearfix"> </div>-->
<!--			</div>-->
<!--		</div>-->
<!--    </div>-->
    <div class="copy-right wow shake" data-wow-delay="0.3s">
		<p>© 2021 编程实训 | Design by   <a href="#" target="_blank" title="name">游赟</a> </p>
    </div>


<!-- animated-css -->
		<link href="../static/css/animate.css" rel="stylesheet" type="text/css" media="all">
		<script src="../static/js/wow.min.js"></script>
		<script>
		 new WOW().init();
		 function pass(Id) {
			 $.ajax({
				 url: '/waiter/finishPass',
				 type: 'post',
				 data: {
					 Id: Id,
				 },
				 success: function () {
					 location.href="finishPass?Id="+Id;
				 },
				 error: function () {
					 alert("error")
				 }
					 })
		 }
		</script>
<!-- animated-css -->


</body>
</html>